# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Large model files
*.pth
*.onnx
*.pt
runs/
data/yolo_cls/
